<header>
  <h1 class="py-5">GIT SEARCH</h1>
  <p class="text-white text-center p-2 fw-bold">
    Find users and repositories of amazing developers here.
  </p>
</header>
<div class="container">
  <form action="" class="enter col-md-12 d-flex justify-content-center mt-3">
    <div class="form-group">
      <label class="text-primary" for=""><em>Search</em></label>
      <input
        type="text"
        placeholder="Name..."
        class="form-control mt-2 mb-4"
        [(ngModel)]="login"
        name="login"
        (keyup)="getProfile()"
      />
    </div>
  </form>

  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div *ngIf="profile">
          <img
            class="img"
            src="{{ profile.avatar_url }}"
            class="img-fluid"
            alt="profile"
          />
        </div>

        <div class="floatRight">
          <div class="col-md-7">
            <ul class="list-group col-md-7">
              <li class="list-group-item m-4" *ngIf="profile.name">
                {{ profile.name }}
              </li>
              <li class="list-group-item m-4" *ngIf="profile.email">
                {{ profile.email }}
              </li>
            </ul>

            <p class="btn btn-success m-3">{{ profile.followers }} Followers</p>
            <p class="btn btn-info m-3">{{ profile.following }} Following</p>
            <p class="btn btn-secondary m-3">
              {{ profile.public_repos }} Repositories
            </p>
          </div>
        </div>
      </div>
    </div>

    <p>
      <a
        href="{{ profile.html_url }}"
        target="_blank"
        class="m-6 btn btn-outline-warning"
        >Check profile on github</a
      >
    </p>
    <hr />
    <h2>My Repositories:</h2>
    <br />
    <div *ngFor="let repos of repos">
      <div class="card m-2" appHighlight>
        <div class="text-center card-header">
          <h2>{{ repos.name }}</h2>
        </div>
        <br />
        <br />
        <div class="card-body">
          <p class="dp">{{ repos.description }}</p>
          <p>Created on: {{ repos.created_at | date }}</p>
        </div>
        <a
          href="{{ repos.html_url }}"
          class="text-align-center"
          target="_blank"
          class="m-3 btn btn-outline-info card-footer"
          >Check repository on github</a
        >
      </div>
    </div>
  </div>
</div>
